@import '../../settings/theme.css';
@import '../../settings/global.css';

@keyframes animatedcarousel {
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

body,
html {
    min-height: 100vh;
}

p,
input,
label,
h1,
h2,
h3,
span,
a {
    font-family: var(--main-font), sans-serif;
    font-size: var(--font-m);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--bg-color-1), var(--bg-color-2));
    background-repeat: no-repeat;
    color: var(--seconadry-text-color);
    width: 100%;
    gap: 50px;
}

.pokemon-carousel {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.gallery {
    display: flex;
}

.gallery-wrapper {
    background-position: center center;
    filter: drop-shadow(0 0 15px #3e393970);
    background-color: #131313;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 600px;
}

.gallery-wrapper .gallery .item {
    display: none;
    text-align: center;
}

.current-item a {
    text-decoration: none;
    color: white;
    background-color: var(--bg-color-1);
    padding: 10px;
    border-radius: 10px;
    transition: all ease .2s;
    font-family: var(--main-font);
}

.current-item a:hover {
    transform: translateY(-5px);
} 

.animated-carousel {
    animation: animatedcarousel 3s infinite;
}

.item h1, h2, h3, span {
    color: white;
}

.gallery-wrapper .gallery .current-item {
    width: 75vw;
    max-width: 800px;
    height: fit-content;
    z-index: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.gallery img {
    height: 300px;
}


.arrow-left,
.arrow-right {
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    opacity: 0.1;
    transition: all ease .2s;
    background-color: black;
    height: 50px;
    /* padding: 30px 0; */
    margin: 0 20px 0 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-left img,
.arrow-right img {
    position: absolute;
    height: 30px;
}

.arrow-left img {
    transform: rotate(180deg);
}

.arrow-right {
    left: auto;
    /* position: relative; */
    right: 0;
    background: transparent;
    background-color: black;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* display: flex; */
}

.mobile-arrows {
    display: none;
}

.mobile-arrow-left,
.mobile-arrow-right {
    background-color: #131313;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    transition: all ease .2s;
}

.mobile-arrow-left img,
.mobile-arrow-right img {
    height: 30px;
}

.mobile-arrow-left img {
    transform: rotate(180deg);
}

.add-pokemon{
    background-color: var(--primary-color);
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .2s;
    box-shadow: 0px 4px 12px #ff95008a;
    color: var(--bg-color-2);
}

@media (max-width: 712px) {
    .pokemon-carousel {
        flex-direction: column;
    }

    .gallery-wrapper {
        /* background-color: transparent; */
        background-repeat: no-repeat;
        /* width: 300px;
        height: 494px; */
        margin-bottom: 20px;
        /* margin-top: 10%; */
    }

    .current-item {
        opacity: 1;
    }

    .item {
        display: none;
    }

    .cellphone-item {
        display: block;
    }

    .gallery-wrapper .gallery .current-item {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .arrow-left,
    .arrow-right {
        display: none;
    }

    .mobile-arrows {
        display: flex;
        margin-bottom: 20px;
        width: 100%;
        justify-content: space-evenly;
    }

    .mobile-arrows:active {
        color: transparent;
    }

    .gallery img {
        height: 290px;
    }

    .pokemon-type {
        font-size: var(--font-mm);
        font-family: var(--second-font), cursive;
    }

    .pokemon-name {
        font-size: var(--font-g);
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-type {
    font-size: var(--font-g);
    font-family: var(--second-font), cursive;
}

.pokemon-name {
    font-size: var(--font-ggg);
}

.additional-infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.stat-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--seconadry-text-color);
}

.home-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-util {
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-fields a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    opacity: .5;
    transition: all ease .2s;
}
.nav-fields a:hover {
    opacity: 1;
}