@import '../../settings/theme.css';
@import '../../settings/global.css';
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #153843, #141923);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}
h1, input, label {
    font-family: 'Poppins', sans-serif;
}
.form {
    width: 100%;
}
.form>form {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    background-color: white;
    padding: 0.8rem;
    border-radius: 20px;
    max-width: 500px;
}
.title-in-box {
    color: #ff9600;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
label {
    font-weight: 500;
    font-size: 1rem;
    padding-top: 1rem;
    color: #363636;
}
input {
    border: 1px solid transparent;
    font-size: 0.8rem;
    padding: 0.3rem 0.2rem;
    background-color: #ddd;
    border-radius: 8px;
}
input:focus {
    border: 1px solid #ff9600;
    background-color: white;
}
input[type=submit] {
    margin-top: 1rem;
    font-size: 1.1rem;
    background-color: #ff9600;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px #ff95008a;
    transition: all ease .2s;
}
input[type=submit]:hover {
    transform: translateY(-2px);
    cursor: pointer;
}