@import '../../settings/theme.css';
@import '../../settings/global.css';

body,
html {
    min-height: 100vh;
    width: 100vw;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p,
input,
label,
h1,
h2,
h3,
span,
a {
    font-family: var(--main-font), sans-serif;
    font-size: var(--font-m);
}

.container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--bg-color-1), var(--bg-color-2));
    background-repeat: no-repeat;
    color: var(--seconadry-text-color);
    /*width: 100%;*/
    gap: 50px;
}

.home-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-util {
    max-width: 2200px;
    min-width: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

header {
    position: relative;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0.5px;
}

.nav-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-fields a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    opacity: .5;
    transition: all ease .2s;
}

.nav-fields a:hover {
    opacity: 1;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.container .button {
    background-color: black;
    color: white;
    padding: 7.5px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: var(--font-pp);
    transition: all ease .2s;
}

.container .button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.container .result-area {
    background-color: black;
    width: fit-content; height: fit-content;
    padding: 15px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img {
    background-image: url('../../assets/pokebola.jpg');
    background-size: cover;
    height: 50%;
    width: 40%;
    border: 2px solid black;
    animation-name: pulse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
    width: 100vw;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
nav a {
    text-decoration: none;
    color: white;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}