@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import '../../settings/theme.css';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
    width: 100%;
}
body {
	font-family: 'Pokemon Solid', sans-serif;
    height: 100vh;
}

.login-util {
	background-image: url('../../assets/pika.jpg');
	background-size: cover;
	background-position: bottom center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	max-width: 400px;
	box-shadow: 0 0 20px var(--primary-text-color);
	transition: all ease .3s;
}
@media (max-width: 475px) {
	.login {
		max-width: var(--screen-mobileS);
	}
}

.titulo {
	
    font-size: 39px;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 2px 2px var(--primary-text-color);
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-size: var(--font-mm);
	margin-bottom: 10px;
	color: var(--primary-text-color);
}

input {
	padding: 10px;
	font-size: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
}

.create-account {
	color: var(--primary-text-color);
	text-align: center;
	text-decoration: none;
}

.botao {
	background-color: var(--primary-color);
    color: var(--secondary-text-color);
    font-size: 24px;
    border-radius: 5px;
    border: none;
    display: flex;
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: 'Pokemon Solid', sans-serif;
    align-items: center;
    justify-content: center;
}

.botao:hover {
	opacity: .5;
	/* color: var(--seconadry-text-color); */
}
