@import '../../settings/theme.css';
@import '../../settings/global.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.edit-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #153843, #141923);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}
.edit-account-form {
    width: 100%;
}
.edit-account-form form {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    background-color: white;
    padding: 0.8rem;
    border-radius: 20px;
    max-width: 500px;
    font-family: var(--main-font);
}
.edit-account-form-title {
    color: var(--primary-color);
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
label {
    font-weight: 500;
    font-size: 1rem;
    padding-top: 1rem;
    color: #363636;
}
input {
    border: 1px solid transparent;
    font-size: 0.8rem;
    padding: 0.3rem 0.2rem;
    background-color: #ddd;
    border-radius: 8px;
}
input:focus {
    border: 1px solid #ff9600;
    background-color: white;
}
.user-area img {
    border: 1px solid #ffffff22;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.2s;
}
.user-area img:hover {
    cursor: pointer;
    scale: 1.2;
}
.user-area {
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
}
.dropdown {
    top: 55px;
    right: 55px;
}
input[type=submit] {
    margin-top: 1rem;
    font-size: 1.1rem;
    background-color: #ff9600;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px #ff95008a;
    transition: all ease .2s;
}
input[type=submit]:hover {
    transform: translateY(-2px);
    cursor: pointer;
}